<div data-controller="hello">
  <h1>All Menus:</h1>
  <% menus.each do |menu| %>
    <h3><%= menu.name %></h3>
    <h4>Ice creams on this menu:</h4>
    <% menu.ice_creams.each do |ice_cream| %>
      <p><%= ice_cream.flavour %> </p>
    <% end %>
  <% end %>
</div>