<div data-controller="hello">
  <h1>Create New Menu</h1>
  <form action='/menus' method='POST'>
    <label for='name'>What is the name of your new menu?</label><br/>
    <input type='text' id='name' >
    <input type='submit' value='Generate Menu'>
  </form>

</div>
